{% extends 'staff_template/base_template.html' %}

{% block page_title %}
Attendance Records
{% endblock page_title %}

{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Attendance Records</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Staff Name</th>
                                    <th>Attendance Date</th>
                                    <th>Clock In</th>
                                    <th>Clock Out</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in attendance_records %}
                                    <tr>
                                        <td>{{ record.staff.admin.username }}</td>
                                        <td>{{ record.attendance_date }}</td>
                                        <td>{{ record.clock_in }}</td>
                                        <td>{{ record.clock_out }}</td>
                                        <td>{{ record.status }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}
