{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="Dashboard" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'admin_profile' %}" class="d-block">{{ user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                
                <!-- Home Link -->
                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                
                <!-- HOD Management -->
                <li class="nav-item has-treeview {% if request.path == add_hod or request.path == manage_hod or request.path == edit_hod %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if request.path == add_hod or request.path == manage_hod or request.path == edit_hod %} active {% endif %}">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>
                            HOD Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_hod' as add_hod %}
                            <a href="{{ add_hod }}" class="nav-link {% if request.path == add_hod %} active {% endif %}">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Add HOD</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'manage_hod' as manage_hod %}
                            {% url 'edit_hod' hod_id as edit_hod %}
                            <a href="{{ manage_hod }}" class="nav-link {% if request.path == manage_hod or request.path == edit_hod %} active {% endif %}">
                                <i class="fas fa-tasks nav-icon"></i>
                                <p>Manage HOD</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Staff Management -->
                <li class="nav-item has-treeview {% if request.path == add_staff or request.path == manage_staff or request.path == edit_staff %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if request.path == add_staff or request.path == manage_staff or request.path == edit_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Staff Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_staff' as add_staff %}
                            <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Add Staff</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'manage_staff' as manage_staff %}
                            {% url 'edit_staff' staff_id as edit_staff %}
                            <a href="{{ manage_staff }}" class="nav-link {% if request.path == manage_staff or request.path == edit_staff %} active {% endif %}">
                                <i class="fas fa-tasks nav-icon"></i>
                                <p>Manage Staff</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Department Management -->
                <li class="nav-item has-treeview {% if request.path == add_department or request.path == manage_department or request.path == edit_department %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if request.path == add_department or request.path == manage_department or request.path == edit_department %} active {% endif %}">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Department Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_department' as add_department %}
                            <a href="{{ add_department }}" class="nav-link {% if request.path == add_department %} active {% endif %}">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Add Department</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'manage_department' as manage_department %}
                            {% url 'edit_department' department_id as edit_department %}
                            <a href="{{ manage_department }}" class="nav-link {% if request.path == manage_department or request.path == edit_department %} active {% endif %}">
                                <i class="fas fa-tasks nav-icon"></i>
                                <p>Manage Departments</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Project Management -->
                <li class="nav-item has-treeview {% if request.path == add_project or request.path == manage_project or request.path == edit_project %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if request.path == add_project or request.path == manage_project or request.path == edit_project %} active {% endif %}">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>
                            Project Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_project' as add_project %}
                            <a href="{{ add_project }}" class="nav-link {% if request.path == add_project %} active {% endif %}">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Add Project</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'manage_project' as manage_project %}
                            {% url 'edit_project' project_id as edit_project %}
                            <a href="{{ manage_project }}" class="nav-link {% if request.path == manage_project or request.path == edit_project %} active {% endif %}">
                                <i class="fas fa-tasks nav-icon"></i>
                                <p>Manage Projects</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Feedback Management -->
                <li class="nav-item has-treeview {% if request.path == staff_feedback_message or request.path == hod_feedback_message %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if request.path == staff_feedback_message or request.path == hod_feedback_message %} active {% endif %}">
                        <i class="nav-icon fas fa-comments"></i>
                        <p>
                            Feedback Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'staff_feedback_message' as staff_feedback_message %}
                            <a href="{{ staff_feedback_message }}" class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
                                <i class="fas fa-comment-alt nav-icon"></i>
                                <p>Staff Feedback</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'hod_feedback_message' as hod_feedback_message %}
                            <a href="{{ hod_feedback_message }}" class="nav-link {% if request.path == hod_feedback_message %} active {% endif %}">
                                <i class="fas fa-comment-alt nav-icon"></i>
                                <p>HOD Feedback</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Leave Management -->
                <li class="nav-item has-treeview {% if request.path == staff_leave_view or request.path == hod_leave_view %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if request.path == staff_leave_view or request.path == hod_leave_view %} active {% endif %}">
                        <i class="nav-icon fas fa-pray"></i>
                        <p>
                            Leave Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'staff_leave_view' as staff_leave_view %}
                            <a href="{{ staff_leave_view }}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                                <i class="fas fa-user-clock nav-icon"></i>
                                <p>Staff Leave</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'hod_leave_view' as hod_leave_view %}
                            <a href="{{ hod_leave_view }}" class="nav-link {% if request.path == hod_leave_view %} active {% endif %}">
                                <i class="fas fa-user-clock nav-icon"></i>
                                <p>HOD Leave</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Attendance Management -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            View Attendance
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'admin_view_hod_attendance' as admin_view_hod_attendance %}
                            <a href="{{ admin_view_hod_attendance }}" class="nav-link {% if request.path == admin_view_hod_attendance %} active {% endif %}">
                                <i class="fas fa-user-check nav-icon"></i>
                                <p>HOD Attendance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'admin_view_staff_attendance' as admin_view_staff_attendance %}
                            <a href="{{ admin_view_staff_attendance }}" class="nav-link {% if request.path == admin_view_staff_attendance %} active {% endif %}">
                                <i class="fas fa-user-check nav-icon"></i>
                                <p>Staff Attendance</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Notification Management -->
                <li class="nav-item has-treeview {% if request.path == admin_send_notification_hod or request.path == admin_send_notification_staff %} menu-open {% endif %}">
                    <a href="#" class="nav-link {% if request.path == admin_send_notification_hod or request.path == admin_send_notification_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-bell"></i>
                        <p>
                            Notification Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'admin_send_notification_hod' as admin_send_notification_hod %}
                            <a href="{{ admin_send_notification_hod }}" class="nav-link {% if request.path == admin_send_notification_hod %} active {% endif %}">
                                <i class="fas fa-bell nav-icon"></i>
                                <p>Send HOD Notification</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'admin_send_notification_staff' as admin_send_notification_staff %}
                            <a href="{{ admin_send_notification_staff }}" class="nav-link {% if request.path == admin_send_notification_staff %} active {% endif %}">
                                <i class="fas fa-bell nav-icon"></i>
                                <p>Send Staff Notification</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
